<configuration>

  <property name="defaultPattern1" value="[%date{ISO8601}] MAKKA %-5level [%thread] %logger{36} - %msg%n"/>

  <property name="defaultPattern" value="%date{HH:mm:ss.SSS}|%-20logger{0}|%msg%n"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>${defaultPattern}</pattern>
    </encoder>
  </appender>

  <logger name="org.apache.kafka" level="OFF"/>
  <logger name="org.apache.zookeeper" level="OFF"/>
  <logger name="com.example" level="DEBUG"/>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>
